<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/normalize-3.0.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome-4.3.0.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ui-button.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ui-form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ui-table.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
    {% block stylesheets %}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
</head>
<body>
<header>
    <h1>
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('images/restologo.png') }}" height="60" width="80" alt="Restaurant">Great Restaurant</a>
    </h1>
    <!-- Interface utilisateur -->
    <nav class="user-interface">
        <ul class="link-list">
            {% if  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('booking') }}" class="button button-primary">Réserver</a>
                    {#<a href="{{ path('order') }}"  class="button button-primary">Commander</a>#}
                </li>
                <li class="layout-right">
                    <p class="welcome">Bonjour <strong>{{ app.user.firstName }}</strong></p>
                    <a href="{{ path('app_logout') }}" class="button button-primary">Déconnexion</a>
                </li>
            {% endif %}

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('app_register') }}" class="button button-primary">Créer un compte</a>
                </li>

                <li class="layout-right">
                    <a href="{{ path('app_login') }}" class="button button-primary">Connexion</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<hr>

<!-- Messages de notification -->
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <aside id="notice" class="notice">
            {{ message }}
        </aside>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
<hr>
<footer>
    <div class="information">
        <div class="address-info">
            <h3>ADRESSE</h3>
            <p>150 rue d'ici <br>
                38000 Grenoble <br>
                Tél : 04 00 00 00 00 <br></p>
        </div>
        <div class="hour-info">
            <h3>HORAIRES D'OUVERTURE</h3>
            <p>Ouvert du Lundi au Dimanche <br>
                de 12h à 14h <br>
                de 19h à 22h <br></p>
        </div>
    </div>

    <ul class="link-list">
        <li><img src="{{ asset('images/visa.png') }}" alt="Visa"></li>
        <li><img src="{{ asset('images/mastercard.png') }}" alt="MasterCard"></li>
        <li><img src="{{ asset('images/paypal.png') }}" alt="PayPal"></li>
    </ul>
    <small>Restaurant</small>
</footer>


{% block javascripts %}{% endblock %}
</body>
</html>




